/*
  The page supports both dark and light color schemes,
  and the page author prefers dark.
*/
:root {
    color-scheme: dark light;
  }

body{
    font-size: larger;
    max-width: 60em;
    margin: auto;
}

code {
    border: 1px dashed;
    border-radius: 5px;
    padding-left: 0.3em;
    padding-right: 0.3em;
}